.control-group {
    min-height: 75px;
}

.error-message {
    color: #FF0000;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #FF0000;
}

.has-error .form-control {
    border-color: #FF0000;
}

.common-message {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    border: solid #000000 1px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.common-message.success {
    color: #00FF00;
}

.common-message.error {
    color: #FF0000;
}